
TIMChat/TIMAdapter/Framework/IMCore.framework/IMCore

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/AVMultiInvitProtocols.h


TIMChat/TIMAdapter/Framework/ImSDK.framework/ImSDK

TIMChat/TIMAdapter/Framework/IMSDKBugly.framework/IMSDKBugly

TIMChat/TIMAdapter/Framework/IMSDKBugly.framework/Resources/Info.plist

TIMChat/TIMAdapter/Framework/QALSDK.framework/QALSDK


TIMChat/TIMAdapter/Framework/TencentOpenApi_IOS_Bundle.bundle/Info.plist

TIMChat/TIMAdapter/Framework/TencentOpenApi_IOS_Bundle.bundle/local.html

TIMChat/TIMAdapter/Framework/TencentOpenAPI.framework/TencentOpenAPI

TIMChat/TIMAdapter/Framework/TLSSDK.framework/TLSSDK


TIMChat/TIMAdapter/Framework/TLSUI.framework/TLSUI

TIMChat/TIMAdapter/Framework/WXApi/libWeChatSDK.a

TIMChat/TIMChat.xcodeproj/project.xcworkspace/xcuserdata/wilderliao.xcuserdatad/UserInterfaceState.xcuserstate

TIMChat/TIMChat.xcodeproj/project.xcworkspace/xcuserdata/wilderliao.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
