
TIMChat/TIMAdapter/Framework/IMCore.framework/IMCore

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/AVMultiInvitProtocols.h


TIMChat/TIMAdapter/Framework/ImSDK.framework/ImSDK

TIMChat/TIMAdapter/Framework/IMSDKBugly.framework/IMSDKBugly

TIMChat/TIMAdapter/Framework/IMSDKBugly.framework/Resources/Info.plist

TIMChat/TIMAdapter/Framework/QALSDK.framework/QALSDK


TIMChat/TIMAdapter/Framework/TencentOpenApi_IOS_Bundle.bundle/Info.plist

TIMChat/TIMAdapter/Framework/TencentOpenApi_IOS_Bundle.bundle/local.html

TIMChat/TIMAdapter/Framework/TencentOpenAPI.framework/TencentOpenAPI

TIMChat/TIMAdapter/Framework/TLSSDK.framework/TLSSDK


TIMChat/TIMAdapter/Framework/TLSUI.framework/TLSUI

TIMChat/TIMAdapter/Framework/WXApi/libWeChatSDK.a

TIMChat/TIMChat.xcodeproj/project.xcworkspace/xcuserdata/wilderliao.xcuserdatad/UserInterfaceState.xcuserstate

TIMChat/TIMChat.xcodeproj/project.xcworkspace/xcuserdata/wilderliao.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/IMSdkInt.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/ImSDK.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/ImSDKSimple.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/IMSdkComm.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMAVMeasureSpeeder.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMCallback.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMCallbackExt.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMCodingModel.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMComm.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMConversation.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMFileManager.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMFriendshipProxy.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMFriendshipManager.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMGroupAssistant.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMGroupManager.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMManager.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMManagerExt.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMMessage.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMRelay.h

TIMChat/TIMAdapter/Framework/ImSDK.framework/Headers/TIMVersion.h

TIMChat/TIMAdapter/Framework/IMSDKBugly.framework/Headers/IMSDKBugly.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSHelper.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSGuestRegListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSLoginHelper.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSGuestLoginListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSOpenAccessTokenListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSOpenBindListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSOpenLoginListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSOpenQueryListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSPwdLoginListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSPwdRegListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSPwdResetListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSRefreshTicketListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSSmsLoginListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSSmsRegListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSStrAccountRegListener.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSTokenInfo.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSUserInfo.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSErrInfo.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSAccountHelper.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/TLSExchangeTicketListener.h

TIMChat/TIMAdapter/Framework/QALSDK.framework/Headers/QalSDKProxy.h

TIMChat/TIMAdapter/Framework/TLSSDK.framework/Headers/version.h

TIMChat/TIMAdapter/Framework/QALSDK.framework/Headers/QalSDKCallbackProtocol.h
